/*#title{
    float:right;
}*/

/**{
    padding: 0;
    margin: 0;
}*/
.form-control{
    height: 40px;-
    font-family: sans-serif;
}

.white-color{
    color:floralwhite;
}
#login {
  width: 250px;     /* specify a width! */
  margin: 0 auto; /* center */
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  font-size:18px;
}


h2{
    color:white;
}
button{
    background-color:transparent;
    height:30px;
    border: none;
    border-radius: 30px;
    color:white;
}

p input{
    width: 225px;
    height:30px;
    border-radius:5px;
    text-align:center;
    background-color:#BEDEF5;
}

body { 
text-align:center;
width: 100%;
height: 100%;
background-color:#0E968A;
font-family: 'Roboto', sans-serif;
} 
